.contain {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    margin: 100px 0;
    padding: 30px;
}

.item {
    align-items: center;
    background-color: tomato;
    color: white;
    display: flex;
    height: 300px;
    justify-content: center;
}